@import "tailwindcss";

::-webkit-scrollbar{
  display: none;
}

body {
  background: var(--color-gray-200);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
